In [5]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

# Iterate through the list of high schools
for i in high_schools:
    # Print out each high school
    print(i)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [6]:
# A dictionary of high schools and the type of school
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

# Iterate through the list of dictionaries
for dictionaries in high_school_types:
    # Print out each high school
    print(dictionaries)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [7]:
# List of high schools
high_schools_2 = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [8]:
# Add the Pandas dependency
import pandas as pd

In [9]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools_2)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [10]:
# Iterate through the pandas series: school_series.
for schools in school_series:
    #Print each school
    print(schools)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [11]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [12]:
school_df = pd.DataFrame(high_school_dicts)

In [13]:
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [14]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [15]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [16]:
schools_df["School ID"] = school_id

In [17]:
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school

In [18]:
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [19]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [20]:
df_high_schools = pd.DataFrame(high_schools_dict)

In [21]:
df_high_schools

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [22]:
df_high_schools.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [23]:
df_high_schools.index

RangeIndex(start=0, stop=5, step=1)

In [24]:
df_high_schools.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [25]:
ID = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
NAME = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
TYPE = ["District", "District", "Charter", "District","Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]

In [26]:
hs_dict = {"High School ID": ID, "High School Name": NAME, "High School Type": TYPE}

In [27]:
hs_df = pd.DataFrame(hs_dict)

In [28]:
hs_df

    High School ID       High School Name High School Type
0                0      Huang High School         District
1                1   Figueroa High School         District
2                2    Shelton High School          Charter
3                3  Hernandez High School         District
4                4    Griffin High School          Charter
5                5     Wilson High School          Charter
6                6    Cabrera High School          Charter
7                7     Bailey High School         District
8                8     Holden High School          Charter
9                9       Pena High School          Charter
10              10     Wright High School          Charter
11              11  Rodriguez High School         District
12              12    Johnson High School         District
13              13       Ford High School         District
14              14     Thomas High School          Charter

In [29]:
import os
path = os.path.join("Resources", "students_complete.csv")

students_data = pd.read_csv(path)

In [30]:
students_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75